In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [9]:
#Question1:
#Answer:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [10]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [11]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [19]:
#Question2:
#Answer:

#loc is used for label-based indexing, and iloc is used for integer-location based indexing in Pandas DataFrames.

#example of iloc.
df.iloc[0:3 ,[1]]

   duration
0         2
1         3
2         6

In [17]:
#example of loc.
df.loc[0:2 , ["duration"]]

   duration
0         2
1         3
2         6

In [22]:
#Question3:
#Answer:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [23]:
new_df = df.reindex(index=[3,0,1,2])

In [24]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [25]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [26]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
"""the difference between the two outputs is due to the change in the row labels after reindexing.
   new_df.loc[2] refers to the row with the label 2 in the original DataFrame, but in the reindexed DataFrame,
   it corresponds to the row at index 1. Similarly, new_df.iloc[2] refers to the row at 
   integer position 2 in the reindexed DataFrame, which is the row with the label 1."""

In [44]:
#Question4:
#Answer:
import pandas as pd
import numpy as np
columns = ['column_1','column_2','column_3','column_4','column_5','column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [45]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.988624  0.024704  0.966789  0.809968  0.822011  0.687161
2  0.887053  0.846171  0.800725  0.128147  0.670325  0.344545
3  0.342536  0.007519  0.093153  0.401150  0.958288  0.901551
4  0.953293  0.028433  0.761859  0.675215  0.781048  0.217149
5  0.798490  0.611818  0.932978  0.800530  0.029390  0.917934
6  0.260771  0.597919  0.348043  0.455114  0.090651  0.883456

In [46]:
df1.mean()

column_1    0.705128
column_2    0.352761
column_3    0.650591
column_4    0.545021
column_5    0.558619
column_6    0.658633
dtype: float64

In [47]:
df1["column_2"].std()

0.3748782533514049

In [48]:
df1.loc[2 ,"column_2"] = "aman"

In [49]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.988624  0.024704  0.966789  0.809968  0.822011  0.687161
2  0.887053      aman  0.800725  0.128147  0.670325  0.344545
3  0.342536  0.007519  0.093153  0.401150  0.958288  0.901551
4  0.953293  0.028433  0.761859  0.675215  0.781048  0.217149
5  0.798490  0.611818  0.932978  0.800530  0.029390  0.917934
6  0.260771  0.597919  0.348043  0.455114  0.090651  0.883456

In [50]:
df1.mean()

/tmp/ipykernel_77/2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.705128
column_3    0.650591
column_4    0.545021
column_5    0.558619
column_6    0.658633
dtype: float64

In [51]:
df1["column_2"].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
""" replacing the data in the second row of 'column_2' with a string value leads to a TypeError when trying to calculate the mean.
This is because Pandas is unable to convert the string 'string_data' to a numeric type required for calculating the mean."""

In [ ]:
#Question6:
#Answer:
"""In pandas, the windows function refers to the ability to perform various calculations and transformations on a specified rolling
or expanding window of data in a pandas DataFrame or Series. This functionality is helpful when analyzing time-series data or any
data that can be logically grouped into windows. The windows functions allow you to 
calculate statistics or apply custom operations on these windows of data."""

#Pandas provides several types of window functions. The most commonly used ones are:
#1. rolling()
#2. expanding()
#3. emw()

In [54]:
df1.rolling(window=2).sum()

/tmp/ipykernel_77/1133895198.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['column_2'], dtype='object')
  df1.rolling(window=2).sum()

   column_1  column_3  column_4  column_5  column_6
1       NaN       NaN       NaN       NaN       NaN
2  1.875677  1.767514  0.938115  1.492336  1.031706
3  1.229589  0.893878  0.529297  1.628613  1.246096
4  1.295830  0.855012  1.076365  1.739336  1.118700
5  1.751783  1.694838  1.475745  0.810438  1.135083
6  1.059261  1.281021  1.255644  0.120041  1.801390

In [56]:
df1.rolling(window=3).sum()

/tmp/ipykernel_77/1152704141.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['column_2'], dtype='object')
  df1.rolling(window=3).sum()

   column_1  column_3  column_4  column_5  column_6
1       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN
3  2.218214  1.860666  1.339265  2.450624  1.933257
4  2.182883  1.655737  1.204512  2.409661  1.463245
5  2.094319  1.787990  1.876895  1.768726  2.036634
6  2.012554  2.042881  1.930859  0.901089  2.018539

In [62]:
#Question7:
#Answer:
from datetime import datetime

In [63]:
datetime.now().month

7

In [69]:
datetime.now().year

2023

In [68]:
#Question8:
#Answer:
import pandas as pd

def get_date_input():
    while True:
        try:
            date_str = input("Enter a date in the format YYYY-MM-DD: ")
            date_obj = pd.to_datetime(date_str)
            return date_obj
        except ValueError:
            print("Invalid date format. Please try again.")

def calculate_time_difference():
    print("Enter the first date:")
    date1 = get_date_input()
    
    print("Enter the second date:")
    date2 = get_date_input()

    time_delta = date2 - date1

    days_difference = time_delta.days
    hours_difference = time_delta.seconds // 3600
    minutes_difference = (time_delta.seconds // 60) % 60

    print(f"Time difference: {days_difference} days, {hours_difference} hours, {minutes_difference} minutes.")

if __name__ == "__main__":
    calculate_time_difference()

Enter the first date:

Enter a date in the format YYYY-MM-DD:  2023-07-14

Enter the second date:

Enter a date in the format YYYY-MM-DD:  2023-07-20

Time difference: 6 days, 0 hours, 0 minutes.

In [ ]:
#Quesyion9:
#Answer:
import pandas as pd

def read_csv_and_convert_to_categorical():
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order (comma-separated): ").split(",")

    df = pd.read_csv(file_path)

    try:
        # Convert the specified column to categorical with the given order
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
        
        # Sort the DataFrame based on the specified column
        sorted_df = df.sort_values(by=column_name)

        # Display the sorted data
        print(sorted_df)
    except KeyError:
        print("Column name not found in the CSV file.")

if __name__ == "__main__":
    read_csv_and_convert_to_categorical()

In [64]:
datetime.now().year

2023

In [ ]:
#Question10:
#Answer:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

def main():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path of the CSV containing sales data: ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please enter a valid file path.")
        return
    except pd.errors.EmptyDataError:
        print("The CSV file is empty.")
        return
    except pd.errors.ParserError:
        print("Error while parsing the CSV file. Please check the file format.")
        return

    # Create a stacked bar chart
    plt.figure(figsize=(10, 6))
    sns.barplot(x='time', y='sales', hue='product_category', data=df, ci=None)

    # Add title and labels
    plt.title('Sales of Product Categories Over Time')
    plt.xlabel('Time')
    plt.ylabel('Sales')

    # Rotate x-axis labels for better readability (optional)
    plt.xticks(rotation=45)

    # Display the chart
    plt.tight_layout()
    plt.show()

if __name__ == "__main__":
    main()

In [103]:
#Question11:
#Answer:
import pandas as pd
from tabulate import tabulate
def calculation(df):
    mean1 = df["test_score"].mean()
    median1 = df["test_score"].median()
    mode1 = df["test_score"].mode().to_list()
    return mean1 , median1 , mode1

def student_operate():
    filepath = input("Enter file path")
    
    try:
        df = pd.read_csv(filepath)
    except FileNotFoundError:
        print("filenot found")
        return 
    
    mean1,median1,mode1 = calculation(df)
    data = [
        ["Mean", mean1],
        ["Median", median1],
        ["Mode", ", ".join(map(str, mode1))]
    ]

    # Table headers
    headers = ["Statistic", "Value"]
    print(tabulate(data, headers=headers, tablefmt="grid"))


if __name__ == "__main__":
    student_operate()

Enter file path student.csv

+-------------+---------+
| Statistic   |   Value |
+=============+=========+
| Mean        |    83.5 |
+-------------+---------+
| Median      |    85   |
+-------------+---------+
| Mode        |    85   |
+-------------+---------+